/*color*/
/* 
60%  of #43A8BC - dominant
30% of #436BBC - secondary
10% of #43BC94 - accent
*/

:root {
/* var(--dominantColor) !important; */
--dominantColor: #43A8BC; 

/* var(--secondaryColor) !important; */
--secondaryColor: #436BBC; 

/* var(--accentColor) !important; */
--accentColor: #43BC94; 

}